.gplay-bg { 
  /*  background-image: url(../src/img/gplay-logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 155% auto;
    background-position-y: -6vw;
    background-position: center;
    background-position-y: -500px;*/
}


.bg-light {
    background-image: url(../src/img/gplay-logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}

/*  css do carousel */

.bd-example {
    margin-left: -5px;
}

.carouselExampleCaptions {
    margin-left: 0;
}

.card-largura {
    max-width: 18rem;
}

.imagem-carrosel {
    object-fit: cover;
    object-position: 0, 45%;
    height: 400px;
}

.imagem-carrosel2 {
    object-fit: cover;
    object-position: 0, 45%;
    height: 400px; 
}

.imagem-carrosel3 {
    object-fit: cover;
    object-position: 0, 45%;
    height: 400px; 
}

.botao-cor {
    background-color: rgb(182, 12, 12);
    color: white;
}

#botao-cor-preco {
    color: white;
}

.borda-card {
    border-color: rgb(182, 12, 12);
}

.card-size {
    max-width: 300px
}

.lorem-font {
    color: chocolate;
    
}
/* tirar duvida sobre porque o texto não está formatando a cor e porque o uso do (color: chocolate"!important";) é perigoso ". OBS:foi possível corrigir o !important do bootstrap com uso de uma "id".*/
#lorem-font {
    color: rgb(179, 109, 52)!important;
    font-size: 25px;  
}

.card-position-img {
    object-fit: cover;
    /*object-position: 0 45%;*/
    min-width: 200px;
    max-width: 350px;
    min-height: 200px;
    max-height: 230px;
}

.card-body {
    text-align: center;
}